h1 {
  color: #E2FF99;
  background-color: orange;
}
h2 {
  color: orange;
}
p {
  text-indent: 1cm;
}
#output {
  background-color: #E2F798;
  font-style: italic;
  color: green;
  padding: 20px;
  display: inline-block;
}
input{
  background-color: #ffe08c;
}
